!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Bootstrap, from Twitter
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Watch Micheal Jackson')
    meta(name='author', content='watchTube')
    //
       Le styles
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    style(type='text/css')
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
      .advDiv {
      padding: 0px;
      margin:20px;
      }
      .suggestionDiv {
      padding: 20px;
      margin:20px;
      background-image:url('../images/squairy_light.png');
      }

      .commentDiv {
      padding: 5px;
      margin: 5px;
      }
      
      .vid {
      margin-top: 40px;
      min-height: 480px;
      min-width: 640px;
      height: 50%;
      width: 50%;
      padding: 20px;
      background-color: #222222;
      }
    link(href='/stylesheets/bootstrap-responsive.css', rel='stylesheet')
    //
       HTML5 shim, for IE6-8 support of HTML5 elements 
    //if lt IE 9
      script(src='http://twitter.github.io/bootstrap/assets/js/html5shiv.js')
    //
       Fav and touch icons 
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='http://twitter.github.io/bootstrap/assets/ico/favicon.png')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') SITE TITLE
          .nav-collapse.collapse
            form.navbar-search.pull-center
              input(type='text', class='search-query',placeholder='What are you looking for?')
            ul.nav.pull-right
              li.active
                a(href='#') Explore
              li
                a(href='#about') Upload
              li
                a(href='#contact') Sign In
            
          //
            /.nav-collapse 
    .container
      .row
        .span8.offset1
          .row
            .span6.vid
              h2 Video Plugin Here
          .row
            .span8
              block comments
                h2 Comments
                -var mycomment = wrapper.comments
                for comment in mycomment
                  .row.commentDiv
                    -var userlink = '/users/'+ comment.name
                    .span1
                      a(href=userlink)
                        img(src="../images/photo.jpg",alt=#{comment.name})
                    .span6
                      div
                        a(href=userlink) #{comment.name}
                      div
                        small #{comment.message}

                        
        .span2
          .row
            .span2.advDiv
              a(id="aw0", target="_blank", href="http://chittika.g.doubleclick.net/aclk?sa=L&amp;ai=CqXggjON9UaOdJYnakwt97-CFUMEPeGPzClIV9pXLE_pAvQNkD7U7SvI3oAYZgAeroq4k&amp;num=1&amp;sig=AOD64_0aCwks&amp;client=ca-pub-62198&amp;adurl=http://bricks.coupons.com/Bstart.asp%3Fo%3D108708%26c%3DSD%ElP")
                img(src="../images/imgadCICgIDQ9IOPgQEQrAIYgEyCIS182MUA6T3.jpg", border="0",width="300",height="239")
              table(width='300', height='11', cellspacing='0', cellpadding='0', border='0', bgcolor='#d3d3d3')
              tbody
                  tr
                    td(align='right')
                      font(style='line-height: 8px; font-size: 9px; margin-right: 1ex;', face='arial,sans-serif', color='#000000')
                        a(target='_blank', href='https://www.chittika.com/adsense/support/bin/request.py?contact_type=afv_violation') Ads by Chittika

          .row
            .span2.suggestionDiv


      hr
      footer
        p SOME TITLE© Corp 2013
    //
       /container 
    
    //
       Placed at the end of the document so the pages load faster 
    script(src='http://twitter.github.io/bootstrap/assets/js/bootstrap.min.js')
    script(src='http://twitter.github.io/bootstrap/assets/js/jquery.js')
    script(src='http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js')
    script(src='http://twitter.github.io/bootstrap/assets/js/bootstrap-alert.js')
    script(src='http://twitter.github.io/bootstrap/assets/js/bootstrap-modal.js')
    script(src='http://twitter.github.io/bootstrap/assets/js/bootstrap-dropdown.js')
    script(src='http://twitter.github.io/bootstrap/assets/js/bootstrap-scrollspy.js')
    script(src='http://twitter.github.io/bootstrap/assets/js/bootstrap-tab.js')
    script(src='http://twitter.github.io/bootstrap/assets/js/bootstrap-tooltip.js')
    script(src='http://twitter.github.io/bootstrap/assets/js/bootstrap-popover.js')
    script(src='http://twitter.github.io/bootstrap/assets/js/bootstrap-button.js')
    script(src='http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js')
    script(src='http://twitter.github.io/bootstrap/assets/js/bootstrap-carousel.js')
    script(src='http://twitter.github.io/bootstrap/assets/js/bootstrap-typeahead.js')
